
 
<div class="main">

    <div class="container">
    

      <div class="row">
        
       <div class="span12">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
               <h3>Consumers Readings</h3>
            </div>

            <div class="widget-content">
        
        
         <section id="tables">     
          
          
          <div class="row-fluid" style="margin-bottom:10px">
          <td>
            <%= link_to "New Consumer", main_app.new_consumer_path, :class=>"btn btn-success",:style => "float:left" %>
           </td>
          <div class="span10" style="text-align:right">
          
          <%= link_to image_tag('/assets/img/excel.png') + " Excel", consumers_path(params.merge(format: "xls")), :class => 'btn btn-success' %>
          <%= link_to image_tag('/assets/img/pdf.png') + " PDF", consumers_path(params.merge(format: "pdf")), :class => 'btn btn-success' %>
          
          </div>
          
          
          
          </div>
          
          <table class="table table-bordered table-striped table-highlight">
            <thead>
             <tr>
              <th>Name</th>
              <th>Zone</th>              
              <th>MRU</th>
              <th>Consumer Index No.</th>
              <th>Current Reading</th>
              <th>Image</th>
              <th colspan=3>Actions </th>              
             </tr>
            </thead>


          <% @consumers.each do |consumer| %>
            <tr>
              <td><%= link_to consumer.name,consumer %></td>
              <td><%= consumer.zone.zone_name rescue nil %></td>
              <td><%= consumer.sub_zone.name rescue nil %></td>
              <td><%= consumer.consumer_inxex_no rescue nil %></td>
              <td><%= consumer.current_meter_reading rescue nil %></td>
              <td><% unless consumer.image.url.nil? %><%= image_tag consumer.image.url, :width=>"35" rescue nil %> <% else %> No Image <% end %></td>
              <td>

               <% if consumer.actions == 1 %>
               <%= link_to "Accept", accept_consumer_path(consumer), :class=>"btn" %> <%= link_to "Reject", reject_consumer_path(consumer), :class=>"btn" %> 
               <% end %>
              <%= link_to "Edit", main_app.edit_consumer_path(consumer), :class=>"btn" %> 

              
              </td>
              
              
            </tr>
           <% end %>
          </table>  
           
          <%= will_paginate @consumers,renderer: BootstrapPagination::Rails %>     
          
        </div> <!-- /widget-content -->
          
      </div> <!-- /widget -->
          
      </div>
        
  
    </div> <!-- /container -->
    
</div> <!-- /main -->
