<style type="text/css">
.img1
{
width:200px;
height:200px;

/* Rotate div */
transform:rotate(0deg);
-ms-transform:rotate(0deg); /* IE 9 */
-webkit-transform:rotate(0deg); /* Safari and Chrome */
}

.table tbody tr td {border:1px solid #DDDDDD;background-color:#F9F9F9;}
.table tbody tr th {border:1px solid #DDDDDD;background-color:#F9F9F9;}

</style>
<div class ="container">
<h3 class="form-signin-heading">Consumers Readings</h3>


<table class="table"  style="border:1px solid #DDDDDD;background-color:#F9F9F9;">
  <tr>
    <th>Name</th>
    <th>Zone</th> 
    <th>Sub zone</th>
    <th>Consumer Index No.</th>
    <th>Current Reading</th>  
    <th>Image</th> 
  </tr>

<% @consumers.each do |consumer| %>
  <tr>
    <td><%= consumer.name %></td>
    <td><%= consumer.zone.zone_name rescue nil %></td>
    <td><%= consumer.sub_zone.name rescue nil %></td>
    <td><%= consumer.consumer_inxex_no rescue nil %></td>
    <td><%= consumer.current_meter_reading rescue nil %></td>
     <td><%= image_tag consumer.image.url, :width=>"100" %></td>
  </tr>
<% end %>
</table>

<br />


</div>