
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Meter Reading KIPL</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />    
    
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link href="./css/bootstrap-responsive.min.css" rel="stylesheet" />
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" />
    <link href="./css/font-awesome.min.css" rel="stylesheet" />        
    
    <link href="./css/ui-lightness/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" />
    
    <link href="./css/base-admin-2.css" rel="stylesheet" />
    <link href="./css/base-admin-2-responsive.css" rel="stylesheet" />
    
    <link href="./css/pages/dashboard.css" rel="stylesheet" />   

    <link href="./css/custom.css" rel="stylesheet" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  
  <div class="navbar-inner">
    
    <div class="container">
      
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <i class="icon-cog"></i>
      </a>
      
      <a class="brand" href="./index.html">
        <img src="img/logo.png" alt="">
      </a>    
      
      <div class="nav-collapse collapse">
        <ul class="nav pull-right">
          <li class="dropdown">
            
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-cog"></i>
              Settings
              <b class="caret"></b>
            </a>
            
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              
              
              
            </ul>
            
          </li>
      
          <li class="dropdown">
            
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="icon-user"></i> 
              Usename
              <b class="caret"></b>
            </a>
            
            <ul class="dropdown-menu">
              <li><a href="#">My Profile</a></li>
              
              <li class="divider"></li>
              <li><a href="#">Logout</a></li>
            </ul>
            
          </li>
        </ul>
      
        <form class="navbar-search pull-right" />
          <input type="text" class="search-query" placeholder="Search" />
        </form>
        
      </div><!--/.nav-collapse -->  
  
    </div> <!-- /container -->
    
  </div> <!-- /navbar-inner -->
  
</div> <!-- /navbar -->
    



    
<div class="subnavbar">

  <div class="subnavbar-inner">
  
    <div class="container">
      
      <a class="btn-subnavbar collapsed" data-toggle="collapse" data-target=".subnav-collapse">
        <i class="icon-reorder"></i>
      </a>

      <div class="subnav-collapse collapse">
        <ul class="mainnav">
        
          <li class="active">
            <a href="#">
              <i><img src="img/reading.png" alt=""></i>
              <span>Readings</span>
            </a>              
          </li>
          
          <li class="dropdown">         
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i><img src="img/mobile.png" alt=""></i>
              <span>Add Mobile</span>
              
            </a>      
          
                    
          </li>
          
          <li class="dropdown">         
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i><img src="img/report.png" alt=""></i>
              <span>MIS/Report</span>
              
            </a>      
          
                    
          </li>
          
          <li class="dropdown">         
            <a href="#">
              <i><img src="img/staff.png" alt=""></i>
              <span>Add Staff</span>
            </a>  
          </li>
          
          
          <li class="dropdown">         
            <a href="#">
              <i><img src="img/team.png" alt=""></i>
              <span>Create Team</span>
            </a>  
          </li>
          
          <li class="dropdown">         
            <a href="#">
              <i><img src="img/distribution.png" alt=""></i>
              <span>Associate Route </br>To Staff</span>
            </a>  
          </li>
          
          
            <li class="dropdown">         
            <a href="#">
              <i><img src="img/mobile.png" alt=""></i>
              <span>Assign Mobile </br>To User</span>
            </a>  
          </li>
          
          <li class="dropdown">         
            <a href="">
              <i><img src="img/excel2.png" alt=""></i>
              <span>Upload</br>Consumers</span>
            </a>  
          </li>
          
          <li class="dropdown">         
            <a href="">
              <i><img src="img/meter_status.png" alt=""></i>
              <span>Meter Status</span>
            </a>  
          </li>
          
          <li class="dropdown">         
            <a href="">
              <i><img src="img/meter_readers_tatus.png" alt=""></i>
              <span>Meter Reader</br> Status</span>
            </a>  
          </li>
          
            <li class="dropdown">         
            <a href="">
            <i><img src="img/meter_readers_tatus.png" alt=""></i>
              <span>Route Listing</span>
            </a>  
          </li>
        
        </ul>
      </div> <!-- /.subnav-collapse -->

    </div> <!-- /container -->
  
  </div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->
    
    
<div class="main">

    <div class="container">

      <div class="row">
        
    <div class="span12">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Show Reading</h3>
          </div> <!-- /widget-header -->
        
        <div class="widget-content">
        
        
        <section id="tables">
          
          
          
          
          
          <table class="table table-bordered table-striped">
                    
                    <tbody>
                      <tr>
                        <td>Meter reading</td>
                        <td>12345.0</td>
                        <td rowspan="14" align="left" valign="top" style="text-align:center; vertical-align: top;">
                  <img src="img/large.jpg" alt="" width="400" height="400">
                  <div class="map_container">
                  
                  <iframe width="390" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?hl=en&amp;ie=UTF8&amp;ll=21.161086,79.07251&amp;spn=0.348986,0.676346&amp;t=m&amp;z=11&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?hl=en&amp;ie=UTF8&amp;ll=21.161086,79.07251&amp;spn=0.348986,0.676346&amp;t=m&amp;z=11&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                  
                  </div>
                  </td>
                        </tr>
                  
                  
                  <tr>
                        <td>Consumer no</td>
                        <td> asd223</td>
                        </tr>
                  
                  <tr>
                        <td>Date Time</td>
                        <td>12:34:08 Tue Dec 24 2013 </td>
                        </tr>
                  
                  <tr>
                        <td>IME Number</td>
                        <td> 45844324234</td>
                        </tr>
                  
                  <tr>
                        <td>Meter No</td>
                        <td>1234521548795</td>
                        </tr>
                  <tr>
                    <td>Cons No</td>
                    <td>awsc</td>
                    </tr>
                  <tr>
                    <td>Cons Code</td>
                    <td>awsc</td>
                    </tr>
                  <tr>
                    <td>DTC</td>
                    <td>awsfca</td>
                    </tr>
                  <tr>
                    <td>Consumer Name &amp; Address</td>
                    <td>Narendra Nagar </td>
                    </tr>
                  <tr>
                    <td>Reader Mobile No</td>
                    <td>9545874523</td>
                    </tr>
                  <tr>
                    <td>Meter Reader status</td>
                    <td>saca</td>
                    </tr>
                  <tr>
                    <td>Read By</td>
                    <td>Piyush</td>
                    </tr>
                  <tr>
                    <td>Latitude</td>
                    <td>213</td>
                    </tr>
                  <tr>
                        <td>Longitude</td>
                        <td>1234521548795</td>
                        </tr>
                    </tbody>
            </table>
                  
                  
                 

            
            
                  
          </section>
                
            
          
          
          
        </div> <!-- /widget-content -->
          
      </div> <!-- /widget -->
          
      </div>
        
      </div> <!-- /row -->

    </div> <!-- /container -->
    
</div> <!-- /main -->
    
























<!-- 

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @consumer.name rescue nil  %>
</p>

<p>
  <b>Sub zone:</b>
  <%= @consumer.sub_zone_id rescue nil  %>
</p>

<p>
  <b>Zone:</b>
  <%= @consumer.zone_id rescue nil  %>
</p>

<p>
  <b>Consumer Index Number:</b>
  <%= @consumer.consumer_inxex_no rescue nil  %>
</p>

<p>
  <b>Meter No</b>
  <%= @consumer.meter_no rescue nil  %>
</p>

<p>
  <b>New Meter No:</b>
  <%= @consumer.new_meter_no rescue nil  %>
</p>

<p>
  <b>Current Meter Reading:</b>
  <%= @consumer.new_meter_no rescue nil  %>
</p>

<p>
  <b>Meter Status:</b>
  <%= @consumer.meter_status rescue nil  %>
</p>


<p>
  <b>Meter Status Description:</b>
  <%= @consumer.meter_status_desc rescue nil  %>
</p>


<p>
  <b>Remarks:</b>
  <%= @consumer.remarks rescue nil  %>
</p>

<p>
  <b>Contact:</b>
  <%= @consumer.contact_no rescue nil  %>
</p>



<p>
  <b>Walk Id:</b>
  <%= @consumer.walk_id rescue nil  %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @consumer.image.url ,:width => 400, :height => 200 rescue nil %>
</p>



<%= link_to 'Edit', edit_consumer_path(@consumer) %> |
<%= link_to 'Back', consumers_path %>
 -->