
    
    
<div class="main">

    <div class="container">

      <div class="row">
        
    <div class="span12">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Show Reading</h3>
          </div> <!-- /widget-header -->
        
        <div class="widget-content">
        
        
        <section id="tables">
          
          
          
          
          
          <table class="table table-bordered table-striped">
                    
                    <tbody>
                      
                  
                  
                  <tr>
                        <td>Name:</td>
                        <td><%= @consumer.name rescue nil  %></td>
                        <td rowspan="13" align="left" valign="top" style="text-align:center; vertical-align: top;">
                  <img src="img/large.jpg" alt="" width="400" height="400">
                  <div class="map_container">
                  
                  <iframe width="390" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?hl=en&amp;ie=UTF8&amp;ll=21.161086,79.07251&amp;spn=0.348986,0.676346&amp;t=m&amp;z=11&amp;output=embed"></iframe><br /><small><a href="https://maps.google.co.in/maps?hl=en&amp;ie=UTF8&amp;ll=21.161086,79.07251&amp;spn=0.348986,0.676346&amp;t=m&amp;z=11&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                  
                  </div>
                  </td>
                        </tr>
                  
                  <tr>
                        <td>Sub zone:</td>
                        <td> <%= @consumer.sub_zone_id rescue nil  %> </td>
                        </tr>
                  
                  <tr>
                        <td>Zone:</td>
                        <td> <%= @consumer.zone_id rescue nil  %></td>
                        </tr>

                        <tr>
                        <td>Consumer Index Number:</td>
                        <td><%= @consumer.consumer_inxex_no rescue nil  %></td>
                        </tr>
                  
                  <tr>
                        <td>Meter No</td>
                        <td><%= @consumer.meter_no rescue nil  %></td>
                        </tr>
                  <tr>
                    <td>New Meter No:</td>
                   <td> <%= @consumer.new_meter_no rescue nil  %></td>

                    </tr>
                  <tr>
                    <td>Current Meter Reading:</td>
                    <td><%= @consumer.new_meter_no rescue nil  %></td>
                    </tr>
                  <tr>
                    <td>Meter Status:</td>
                    <td><%= @consumer.meter_status rescue nil  %></td>
                    </tr>
                  <tr>
                    <td>Meter Status Description:</td>
                    <td><%= @consumer.meter_status_desc rescue nil  %> </td>
                    </tr>
                  <tr>
                    <td>Remarks</td>
                    <td> <%= @consumer.remarks rescue nil  %></td>
                    </tr>
                  <tr>
                    <td>Contact</td>
                    <td><%= @consumer.contact_no rescue nil  %></td>
                    </tr>
                  <tr>
                    <td>Image</td>
                    <td> <%= image_tag @consumer.image.url ,:width => 400, :height => 200 rescue nil %></td>
                    </tr>
                      <td><%= link_to "Edit",edit_consumer_path(@consumer), :class=>"btn" %>
                      <%= link_to "Back",consumers_path, :class=>"btn" %>
                      </td>
                      
                    </tbody>
            </table>         
                  
          </section>   
          
        </div> <!-- /widget-content -->
          
      </div> <!-- /widget -->
          
      </div>
        
      </div> <!-- /row -->

    </div> <!-- /container -->
    
</div> <!-- /main -->
    









