<div class="container">

<h1>Listing readers</h1>

<table class="table table-bordered table-striped table-highlight">
<thead>
  <tr>
    <th>Reader</th>
    <th>Zone</th>
    <th>Sub zone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>



<% @readers.each do |reader| %>
  <tr>
    <td><%= reader.user.name %></td>
    <td><%= Zone.find(reader.zone_id).zone_name rescue nil %></td>
    <td><%= SubZone.find(reader.sub_zone_id).name rescue nil %></td>
    <td><%= link_to 'Show', reader %></td>
    <td><%= link_to 'Edit', edit_reader_path(reader) %></td>
    <td><%= link_to 'Destroy', reader, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Reader', new_reader_path ,:style => "float:left"%>

<br />
</div>


