

    
    
<div class="main">

    <div class="container">

      <div class="row">
        
    <div class="span12">          
          
          <div class="widget stacked ">
            
            <div class="widget-header">
              <i class="icon-pencil"></i>
              <h3>Show Reader</h3>
          </div> <!-- /widget-header -->
        
        <div class="widget-content">
        
        
        <section id="tables">
          
          
          
          
          
          <table class="table table-bordered table-striped" style="width:50%" >
                    
                <tbody> 
                  
                  
                  <tr>
                        <td>User:</td>
                        <td><%= @reader.user.name rescue nil %></td>                
                  </tr>
                  
                  <tr>
                        <td>Zone:</td>
                        <td><%= @reader.zone.zone_name rescue nil %></td>                
                  </tr>
                  
                  <tr>
                        <td>Sub zone:</td>
                        <td> <%= @reader.sub_zone.name rescue nil  %> </td>
                  </tr>                 
                  
                </tbody>
            </table>  

                  <td><%= link_to "Edit",edit_reader_path(@reader), :class=>"btn" %>
                      <%= link_to "Back",readers_path, :class=>"btn" %>
                  </td>       
                  
          </section>   
          
        </div> <!-- /widget-content -->
          
      </div> <!-- /widget -->
          
      </div>
        
      </div> <!-- /row -->

    </div> <!-- /container -->
    
</div> <!-- /main -->
    






















