<!DOCTYPE html>
<html>
<head>
<title>Water Demo</title>
<%= csrf_meta_tag %>


<%= stylesheet_link_tag "application","bootstrap.min.css","bootstrap-responsive.min.css","font-awesome.min.css","custom.min.css","base-admin-2.css","admin-2-responsive.css","signin.css","custom.css" %>
<%= yield :style %>
<%= javascript_include_tag "Application" %>
</head>
<body>


<%= render 'shared/header' %>

 <!-- <div class = "container">
    <div class="navbar">
    <div class="navbar-inner">
    <ul class="nav">
    <li><%= link_to "Home", root_path %></li>
    <% if signed_in? %>
	  <li><%= link_to "Profile", current_user %></li>
	  <li><%= link_to "Consumers", consumers_path %></li>
	  <li><%= link_to "Readers", readers_path %></li>
	<% end %>
	<% if signed_in? %>
	  <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
	<% else %>
	  <li><%= link_to "Sign in", signin_path %></li>
	  <li> <%= link_to "Sign up now!", signup_path %></li>
	<% end %>
    </ul>
    </div>
    </div>
</div>  -->

<section class="round">
	<% flash.each do |key, value| %>
<div class="flash <%= key %>"><%= value %></div>
<% end %>
<center>
<%= yield %>
</center>
</section>

<%= render 'shared/footer' %>

</body>
</html>
