<!DOCTYPE html>
<html>
<head>
<title>Water Demo</title>
<%= csrf_meta_tag %>


<%= stylesheet_link_tag "application","bootstrap.min.css","bootstrap-responsive.min.css","font-awesome.min.css","custom.min.css","base-admin-2.css","admin-2-responsive.css","signin.css","custom.css" %>
<%= yield :style %>

<%= javascript_include_tag "application", "responsive" %>
</head>
<body>


<%= render 'shared/header' %>

 

<section class="round">
	<% flash.each do |key, value| %>
<div class="flash <%= key %>"><%= value %></div>
<% end %>
<center>
<%= yield %>
</center>
</section>

<%= render 'shared/footer' %>

</body>
</html>
